# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/

# Data and outputs
# notebooks/.data/coco_export
src/data/coco/
logs/
checkpoints/
results/
MLflow tracking logs
mlruns/
mlruns.db

# OS / IDE files
.DS_Store
.vscode/
.idea/
assets/final_model_notebook.pth
assets/best_model.pt
